.div-app {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.app-div {
  height: 100vh;
  width: 100%;
}

.white-over {
  background-image: url('../images/white.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
}

.black-over {
  /* background-image: url('../images/back.jpg'); */
  background-image: url('../images/white.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: #f7fae9; */
  color :'black';
  opacity: 0.9;
}

.black-over-2 {
  /* background-image: url('../images/back.jpg'); */
  background-repeat: no-repeat;
  background-color: #f7fae9;
  background-size: cover;
  opacity: 0.9;
}
.content-area {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}


.content-area2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}
.content-area1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: bottom;
  align-items: center;
}

.body-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  padding-top: 1px;  
}
.opacity-isolator {
  opacity: 2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: 'black';
}
.body-content-page4 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 75%;
  padding-top: 1px; 
  margin-top: 2px; 
}

.body-content-page5 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 75%;
  padding-top: 1px; 
  margin-top: 2%; 
}



.body-content-page6 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 75%;
  padding-top:  ; 
  margin-top: 4%; 
}

.body-content-page3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 75%;
  margin-top: 2%; 

}

.body-content-big {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 75%;
  padding-top: 1px; 
}

.body-content-big-topspace{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 75%;
  padding-top: 1px; 
  margin-top: 25px; 
}

.body-content-topspace{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 50%;
  padding-top: 1px; 
  margin-top: 25px; 
}

.page-1 {
  background-image: url('../images/page1-port.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  object-fit: cover;
}


.page-2 {
  content : '';
}
.page-2::before {
  content:'';
  background-image: url('../images/page-2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 1;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.page-3 {
  content : '';
}
.page-3::before {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: #8497b0;
  background-image: url('../images/page-3.png');
  content : '';
  opacity: 1;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.page-4 {
  background-image: url('../images/page-4.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: #ffd553;

  /* object-fit: cover;
  max-width: 100%;
  height: 100%; */
}

.page-5 {
  background-image: url('../images/page-5.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: #ffd1d1;
  /* object-fit: cover;#ff7c81
  max-width: 100%;
  height: 100%; */
}

.page-6 {
  background-image: url('../images/page-6.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: #184f52;

}
.page-7 {
  background-image: url('../images/page-7.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #aae0ea;
  background-position: center;
  /* object-fit: cover;
  max-width: 100%;
  height: 100%; */
}

.input-field {
  height: 40px;
  font-size: 20px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid whitesmoke;
  padding-left: 10px;
  color: white;
  width: 90%;
  margin-bottom: 10px;
}

.input-field:focus {
  outline: none;
}

.question {
  font-size: 20px;
  color: white;
  margin-bottom: 10px;
  padding-left: 10px;
  width: 95%;
}

.next-button {
  width: 100px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: white;
  background-color: teal;
  border-radius: 5px;
  margin-top: 20px;
  text-transform: uppercase;
}

.button-holder {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.radio-options {
  margin-bottom: 20px;
}

.radio-option {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  align-items: center;
}

.radio-button {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border: 1px solid whitesmoke;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.radio-dot {
  width: 14px;
  height: 14px;
  background-color: turquoise;
  border-radius: 10px;
}

.radio-label {
  font-size: 16px;
  color: white;
}

.sub-question {
  font-size: 18px;
  color: white;
  margin-bottom: 10px;
  padding-left: 30px;
  width: 85%;
}

.rating-buttons {
  display: flex;
  justify-content: space-evenly;
}

.rating-text {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.start-button-row {
  position: absolute;
  bottom:2px; 
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit-button{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.start-Button {
  position: absolute;
  bottom: 20px;
  width: 200px;
  height: 50px;
  background-color: turquoise;
  background-color: turquoise;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: white;
  margin-top: 400px;
}

@media only screen and (max-width: 480px) {
  .body-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 95%;
  }

  .question {
    font-size: 16px;
    color: white;
    margin-bottom: 5px;
    padding-left: 10px;
    width: 95%;
  }

  .sub-question {
    font-size: 14px;
    color: white;
    margin-bottom: 10px;
    width: 95%;
  }

  .radio-button {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
  }

  .radio-dot {
    width: 10px;
    height: 10px;
    background-color: turquoise;
    border-radius: 10px;
  }

  .radio-label {
    font-size: 12px;
  }

  .page-6 {
    background-size: contain;
    background-position: center;
  }

  .page-1 {
    background-size: contain;
    background-position: center;
  }
  .input-field::placeholder {
    color: whitesmoke;
  }

  .input-field {
    font-size: 15px;
  }
}
